body{
    background-color: antiquewhite;
}
.container{
    min-height: 90vh;
}
.navbar{
    font-size: 20px;
    /* font-weight: bold; */
 
}
.nav-item:hover{
    font-size: 24px;
    cursor: pointer;
}